{% extends 'student_template/base_template.html' %}

{% block page_title %}
    Parent Home
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">

        <!-- Parent Information Section Starts -->
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title">Hello, Parents,</h5>
                        <p class="card-text">
                            

        You can now check your child's results in this page.
         We value your feedback on the results and will respond promptly to any comments or concerns you may have.

         Thank you!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Parent Information Section Ends -->

    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}